# Compiled Source #
*.o
# Stats Files #
*.txt
# Executables #
fresco
frescocli
frescocli_mpi
# Libraries
*.la
# Documentation
html/
latex/
# Output Maps #
Output/
# Build Files #
.Tpo
.deps
.libs
*.lo
*.m4
config.guess
config.sub
config.status
configure
depcomp
libtool
ltmain.sh
Makefile
Makefile.in
missing
src/.deps
src/.dirstamp
install-sh
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
stamp-h1
# Input Settings Files #
*.fif
*.FIF
