# Compiled Source #
*.o
# Stats Files #
*.txt
# Executables #
fresco
fresco-mpi
# Libraries
*.la
# RPMs
*.rpm
# Documentation
html/
latex/
# Build Files #
.Tpo
.deps
.libs
*.lo
*.m4
m4/*.m4
config.guess
config.sub
config.status
configure
depcomp
libtool
ltmain.sh
Makefile
Makefile.in
missing
src/.deps
src/.dirstamp
install-sh
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
stamp-h1
